.wrapper {
    display: grid;
    grid-template-areas:
    'one one one one one one'
    'three four four four four four'
    'three four four four four four'
    'three four four four four four';
}
.one {
    grid-column: 1;
    grid-row: 1;
}
.three {
    grid-column: 1;
    grid-row: 2 / 5;
    background-color: darkgrey;
}
.four {
    grid-column: 3 / 4;
    grid-row: 3;
}
header{
    background-color: rgb(0, 0, 0);
    display: flex;
    position: relative;
}
body{
    background-color: black;
}
header h1{
    color: white;
    text-align: left;
    padding: 25px;
}
nav{
    background-color: darkgrey;
    padding: 15px;
    justify-content: center;
    border-radius: 5px;
    display: block;
}
nav a{
    color: whitesmoke;
    margin-right: 15px;
}
body{
    overflow-x: auto;
    overflow-y: scroll;
}
#gris{
    background-color: black;
    color: white;
    text-align: center;
    padding: auto;
    display: block;
    position: relative;
}